



$theme-bg-color:(
    1: #050921,
    2:#181D30,
    3:#191D27,

);

$theme-main-accent:(
    1:#212E5D,
    2:#541B2E,
    3:#122B43,

);

$theme-semi-accent:(
    1:#08A8ED,
    2: #AB1727,
    3:#01BB88,

    
);



@mixin random($theme-number){
    $bg-color:map-get($theme-bg-color, $theme-number);
    $main-accent:map-get($theme-main-accent, $theme-number);
    $semi-accent:map-get($theme-semi-accent, $theme-number);
    
    #main{
    height:100vh;
    width:100vw;
    display: flex;
    background-color: $bg-color;
    font-family: sans-serif;

    #burger{
        fill: $semi-accent;
        position:absolute;
        z-index:2;
        width:50px;
        height:50px;
        background-color: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $semi-accent;
        border-radius: 10px;
        top:4.5%;
        left:1%;
        cursor:pointer;
        // visibility:hidden;
    }

    #theme{
        position:absolute;
        fill:$semi-accent;
        z-index:2;
        width:50px;
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid $semi-accent;
        border-radius: 10px;
        left:1%;
        bottom:5%;
        cursor: pointer;
        
    }


    #side-container{
        // visibility: visible;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:5vw;
        min-width:56px;
        height:100vh;
        position:relative;
        gap:10px;
        background-color: $main-accent;

        #group{
            background-color: $semi-accent;
            width:40px;
            height:40px;
            border-radius: 50%;
            transition:0.38s ease-in-out;
            cursor:pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                transform:scale(1.05);
                box-shadow: 0px 0px 7px $semi-accent;
            }

        }

        
    }

    #profile-container{
        cursor:pointer;
        width:14vw;
        height:7vh;
        color:white;
        font-size: 1.3vw;
        min-height:30px;
        min-width: 160px;
        border-radius: 12px;
        background-color: $main-accent;
        position: absolute;
        top:5%;
        right:2.5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #profile-pic{
            #picture{
                margin-top: 15%;
                margin-bottom: auto;
                width:2.5vw;
                min-width:30px;
                height:auto;
                border-radius: 50%;
            }
        }
    }

    #body-container{
        color:white;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:100vh;
        gap:30px;

        #body-header{
            margin-top: 20vh;
            font-size: 3rem;
        }
        #body-list{
            display:flex;
            flex-direction: column;
            gap:10px;
            #task-container{
                width:70vw;
                // min-width: 500px;
                height:7vh;
                min-height: 40px;
                background-color: $main-accent;
                display: flex;
                align-items: center;
                border-radius: 7px;
                justify-content:flex-start;
                transition:0.27s ease-in-out;
                #check{
                    width:20px;
                    height:20px;
                    position:relative;
                    border:solid 2px $semi-accent;
                    border-radius: 3px;
                    margin-left: 10px;
                    cursor:pointer;

                    #check-bg{
                        width:100%;
                        height:100%;
                        background-color: $semi-accent;
                    }
                }
                #task{
                    margin-left: 10px;
                }
                
            }
        }
    }

    #add{
        position: absolute;
        bottom:5%;
        right:3%;
        color:white;
        width:50px;
        height:50px;
        border-radius: 50%;
        background-color: $semi-accent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        cursor:pointer;
        z-index: 4;
    }
    #modal-original{
        position:absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        #modal-container{
            position:absolute;
            top:0%;
            left:0%;
            height:100vh;
            width:100vw;
            z-index: 3;
            backdrop-filter: blur(10px);
            background-color: #05092124;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        #modal{
            z-index: 4;
            min-width: 300px;
            min-height:70px;
            width:40vw;
            height:20vh;
            background-color: $bg-color;
            border: 1px solid $main-accent;
            border-radius: 10px;
            display: flex;
            gap:10px;
            // flex-direction: column;
            justify-content: center;
            position:absolute;
            // top:50%;
            // left:50%;
            // transform: translate(-50%, -50%);
            align-items: center;
            input{
                // min-width: 250px;
                width:30vw;
                height:5vh;
                background-color: $main-accent;
                border: 0px solid black;
                color:white;
                &:focus{
                    outline:none;
                    border: 1px solid #08A8ED;
                }

            }

            #button{
                width:fit-content;
                height:fit-content;
                background-color: $semi-accent;
                padding:5px;
                padding-inline: 10px;
                border-radius: 5px;
                // position: absolute;
                // right:7%;
                // bottom:15%;
            }
        }
    }


}

@media screen and (max-width: 1100px){
    #main{
        overflow: hidden;

        #profile-container{
           font-size: 16px; 
           height:40px;
        }
    
        #body-container{
            #body-list{
                #task-container{
                    width:330px;
                    height:25px;
                }
            }
        }
        #modal-original{
            #modal{
                height:100px;
    
                input{
                    width:200px;
                }
            }

        }

    }
}

}

.theme-1{
    @include random(1);
}
.theme-2{
    @include random(2);
}
.theme-3{
    @include random(3);
}


@media screen and (max-width: 1100px){
    #main{
        overflow: hidden;

        #profile-container{
           font-size: 16px; 
           height:40px;
        }
    
        #body-container{
            #body-list{
                #task-container{
                    width:330px;
                    height:25px;
                }
            }
        }
        #modal-original{
            #modal{
                height:100px;
    
                input{
                    width:200px;
                }
            }

        }

    }
}

