.theme-1 #main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #050921;
  font-family: sans-serif;
}
.theme-1 #main #burger {
  fill: #08A8ED;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #050921;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #08A8ED;
  border-radius: 10px;
  top: 4.5%;
  left: 1%;
  cursor: pointer;
}
.theme-1 #main #theme {
  position: absolute;
  fill: #08A8ED;
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  left: 1%;
  bottom: 5%;
  cursor: pointer;
}
.theme-1 #main #side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  min-width: 56px;
  height: 100vh;
  position: relative;
  gap: 10px;
  background-color: #212E5D;
}
.theme-1 #main #side-container #group {
  background-color: #08A8ED;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.38s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-1 #main #side-container #group:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 7px #08A8ED;
}
.theme-1 #main #profile-container {
  cursor: pointer;
  width: 14vw;
  height: 7vh;
  color: white;
  font-size: 1.3vw;
  min-height: 30px;
  min-width: 160px;
  border-radius: 12px;
  background-color: #212E5D;
  position: absolute;
  top: 5%;
  right: 2.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.theme-1 #main #profile-container #profile-pic #picture {
  margin-top: 15%;
  margin-bottom: auto;
  width: 2.5vw;
  min-width: 30px;
  height: auto;
  border-radius: 50%;
}
.theme-1 #main #body-container {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
.theme-1 #main #body-container #body-header {
  margin-top: 20vh;
  font-size: 3rem;
}
.theme-1 #main #body-container #body-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.theme-1 #main #body-container #body-list #task-container {
  width: 70vw;
  height: 7vh;
  min-height: 40px;
  background-color: #212E5D;
  display: flex;
  align-items: center;
  border-radius: 7px;
  justify-content: flex-start;
  transition: 0.27s ease-in-out;
}
.theme-1 #main #body-container #body-list #task-container #check {
  width: 20px;
  height: 20px;
  position: relative;
  border: solid 2px #08A8ED;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.theme-1 #main #body-container #body-list #task-container #check #check-bg {
  width: 100%;
  height: 100%;
  background-color: #08A8ED;
}
.theme-1 #main #body-container #body-list #task-container #task {
  margin-left: 10px;
}
.theme-1 #main #add {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #08A8ED;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  cursor: pointer;
  z-index: 4;
}
.theme-1 #main #modal-original {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-1 #main #modal-original #modal-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(5, 9, 33, 0.1411764706);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-1 #main #modal-original #modal {
  z-index: 4;
  min-width: 300px;
  min-height: 70px;
  width: 40vw;
  height: 20vh;
  background-color: #050921;
  border: 1px solid #212E5D;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: absolute;
  align-items: center;
}
.theme-1 #main #modal-original #modal input {
  width: 30vw;
  height: 5vh;
  background-color: #212E5D;
  border: 0px solid black;
  color: white;
}
.theme-1 #main #modal-original #modal input:focus {
  outline: none;
  border: 1px solid #08A8ED;
}
.theme-1 #main #modal-original #modal #button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #08A8ED;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 5px;
}

.theme-2 #main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #181D30;
  font-family: sans-serif;
}
.theme-2 #main #burger {
  fill: #AB1727;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #181D30;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AB1727;
  border-radius: 10px;
  top: 4.5%;
  left: 1%;
  cursor: pointer;
}
.theme-2 #main #theme {
  position: absolute;
  fill: #AB1727;
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  left: 1%;
  bottom: 5%;
  cursor: pointer;
}
.theme-2 #main #side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  min-width: 56px;
  height: 100vh;
  position: relative;
  gap: 10px;
  background-color: #541B2E;
}
.theme-2 #main #side-container #group {
  background-color: #AB1727;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.38s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-2 #main #side-container #group:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 7px #AB1727;
}
.theme-2 #main #profile-container {
  cursor: pointer;
  width: 14vw;
  height: 7vh;
  color: white;
  font-size: 1.3vw;
  min-height: 30px;
  min-width: 160px;
  border-radius: 12px;
  background-color: #541B2E;
  position: absolute;
  top: 5%;
  right: 2.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.theme-2 #main #profile-container #profile-pic #picture {
  margin-top: 15%;
  margin-bottom: auto;
  width: 2.5vw;
  min-width: 30px;
  height: auto;
  border-radius: 50%;
}
.theme-2 #main #body-container {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
.theme-2 #main #body-container #body-header {
  margin-top: 20vh;
  font-size: 3rem;
}
.theme-2 #main #body-container #body-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.theme-2 #main #body-container #body-list #task-container {
  width: 70vw;
  height: 7vh;
  min-height: 40px;
  background-color: #541B2E;
  display: flex;
  align-items: center;
  border-radius: 7px;
  justify-content: flex-start;
  transition: 0.27s ease-in-out;
}
.theme-2 #main #body-container #body-list #task-container #check {
  width: 20px;
  height: 20px;
  position: relative;
  border: solid 2px #AB1727;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.theme-2 #main #body-container #body-list #task-container #check #check-bg {
  width: 100%;
  height: 100%;
  background-color: #AB1727;
}
.theme-2 #main #body-container #body-list #task-container #task {
  margin-left: 10px;
}
.theme-2 #main #add {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #AB1727;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  cursor: pointer;
  z-index: 4;
}
.theme-2 #main #modal-original {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-2 #main #modal-original #modal-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(5, 9, 33, 0.1411764706);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-2 #main #modal-original #modal {
  z-index: 4;
  min-width: 300px;
  min-height: 70px;
  width: 40vw;
  height: 20vh;
  background-color: #181D30;
  border: 1px solid #541B2E;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: absolute;
  align-items: center;
}
.theme-2 #main #modal-original #modal input {
  width: 30vw;
  height: 5vh;
  background-color: #541B2E;
  border: 0px solid black;
  color: white;
}
.theme-2 #main #modal-original #modal input:focus {
  outline: none;
  border: 1px solid #08A8ED;
}
.theme-2 #main #modal-original #modal #button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #AB1727;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 5px;
}

.theme-3 #main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #191D27;
  font-family: sans-serif;
}
.theme-3 #main #burger {
  fill: #01BB88;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #191D27;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #01BB88;
  border-radius: 10px;
  top: 4.5%;
  left: 1%;
  cursor: pointer;
}
.theme-3 #main #theme {
  position: absolute;
  fill: #01BB88;
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  left: 1%;
  bottom: 5%;
  cursor: pointer;
}
.theme-3 #main #side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  min-width: 56px;
  height: 100vh;
  position: relative;
  gap: 10px;
  background-color: #122B43;
}
.theme-3 #main #side-container #group {
  background-color: #01BB88;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.38s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-3 #main #side-container #group:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 7px #01BB88;
}
.theme-3 #main #profile-container {
  cursor: pointer;
  width: 14vw;
  height: 7vh;
  color: white;
  font-size: 1.3vw;
  min-height: 30px;
  min-width: 160px;
  border-radius: 12px;
  background-color: #122B43;
  position: absolute;
  top: 5%;
  right: 2.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.theme-3 #main #profile-container #profile-pic #picture {
  margin-top: 15%;
  margin-bottom: auto;
  width: 2.5vw;
  min-width: 30px;
  height: auto;
  border-radius: 50%;
}
.theme-3 #main #body-container {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
.theme-3 #main #body-container #body-header {
  margin-top: 20vh;
  font-size: 3rem;
}
.theme-3 #main #body-container #body-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.theme-3 #main #body-container #body-list #task-container {
  width: 70vw;
  height: 7vh;
  min-height: 40px;
  background-color: #122B43;
  display: flex;
  align-items: center;
  border-radius: 7px;
  justify-content: flex-start;
  transition: 0.27s ease-in-out;
}
.theme-3 #main #body-container #body-list #task-container #check {
  width: 20px;
  height: 20px;
  position: relative;
  border: solid 2px #01BB88;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.theme-3 #main #body-container #body-list #task-container #check #check-bg {
  width: 100%;
  height: 100%;
  background-color: #01BB88;
}
.theme-3 #main #body-container #body-list #task-container #task {
  margin-left: 10px;
}
.theme-3 #main #add {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #01BB88;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  cursor: pointer;
  z-index: 4;
}
.theme-3 #main #modal-original {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-3 #main #modal-original #modal-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(5, 9, 33, 0.1411764706);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-3 #main #modal-original #modal {
  z-index: 4;
  min-width: 300px;
  min-height: 70px;
  width: 40vw;
  height: 20vh;
  background-color: #191D27;
  border: 1px solid #122B43;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: absolute;
  align-items: center;
}
.theme-3 #main #modal-original #modal input {
  width: 30vw;
  height: 5vh;
  background-color: #122B43;
  border: 0px solid black;
  color: white;
}
.theme-3 #main #modal-original #modal input:focus {
  outline: none;
  border: 1px solid #08A8ED;
}
.theme-3 #main #modal-original #modal #button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #01BB88;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  #main {
    overflow: hidden;
  }
  #main #profile-container {
    font-size: 16px;
    height: 40px;
  }
  #main #body-container #body-list #task-container {
    width: 330px;
    height: 25px;
  }
  #main #modal-original #modal {
    height: 100px;
  }
  #main #modal-original #modal input {
    width: 200px;
  }
}/*# sourceMappingURL=list.css.map */