$bg-color:#050921;
$main-accent:#212E5D;
$semi-accent:#08A8ED;




#main{
    height:100vh;
    width:100vw;
    display: flex;
    background-color: $bg-color;
    font-family: sans-serif;

    #burger{
        position:absolute;
        z-index:2;
        width:50px;
        height:50px;
        background-color: #050921;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $semi-accent;
        border-radius: 10px;
        top:50%;
        left:1%;
        cursor:pointer;
        // visibility:hidden;
    }


    #side-container{
        // visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:5vw;
        min-width:56px;
        height:100vh;
        position:relative;
        gap:10px;
        background-color: $main-accent;

        #group{
            background-color: $semi-accent;
            width:40px;
            height:40px;
            border-radius: 50%;
            transition:0.38s ease-in-out;
            cursor:pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                transform:scale(1.05);
                box-shadow: 0px 0px 7px $semi-accent;
            }

        }

        #sign-out{
            position:absolute;
            bottom:5%;
            background-color: $main-accent; 
            border-radius: 6px;
            border:0px  solid black;
            transition:0.38s ease-in-out;
            color:white;
            cursor:pointer;
            padding: 3px;
            padding-inline: 5px;

            &:hover{
                box-shadow: 0px 0px 5px $semi-accent;
            }
        }
    }

    #profile-container{
        width:14vw;
        height:7vh;
        color:white;
        font-size: 1.3vw;
        min-height:30px;
        min-width: 160px;
        border-radius: 12px;
        background-color: $main-accent;
        position: absolute;
        top:5%;
        right:2.5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #profile-pic{
            #picture{
                margin-top: 15%;
                margin-bottom: auto;
                width:2.5vw;
                min-width:30px;
                height:auto;
                border-radius: 50%;
            }
        }
    }

    #body-container{
        color:white;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:100vh;
        gap:30px;

        #body-header{
            margin-top: 20vh;
            font-size: 3rem;
        }
        #body-list{
            display:flex;
            flex-direction: column;
            gap:10px;
            #task-container{
                width:70vw;
                // min-width: 500px;
                height:7vh;
                min-height: 40px;
                background-color: $main-accent;
                display: flex;
                align-items: center;
                border-radius: 7px;
                justify-content:flex-start;
                transition:0.27s ease-in-out;
                #check{
                    width:20px;
                    height:20px;
                    border:solid 2px $semi-accent;
                    border-radius: 3px;
                    margin-left: 10px;
                    cursor:pointer;
                }
                #task{
                    margin-left: 10px;
                }
                
            }
        }
    }

    #add{
        position: absolute;
        bottom:5%;
        right:3%;
        color:white;
        width:50px;
        height:50px;
        border-radius: 50%;
        background-color: $semi-accent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        cursor:pointer;
    }


}


@media screen and (max-width: 1100px){
    #main{
        overflow: hidden;


        // #burger{
        //     visibility: visible;
        // }
        // #side-container{
        //     visibility: hidden;
        // }
        #profile-container{
           font-size: 16px; 
           height:40px;
        }
    
        #body-container{
            #body-list{
                #task-container{
                    width:330px;
                    height:25px;
                }
            }
        }
    }
}
